<div class="spotify">


</div>

<script type="text/javascript" src='/js/index.js'></script>
<script type="text/javascript">
	const access_token = '<%=access_token%>';
	const refresh_token = '<%=refresh_token%>';
	testFunction(access_token);
	getPlaylistData(access_token, refresh_token)

</script>
