<h1> Add a new photo </h1>
<form action='/photos' method="POST">
  <label> Image Source: </label>
  <input type="text" name="url" class="form-control" placeholder="Image URL" />

  <label> Image Title: </label>
  <input type="text" name="title" class="form-control" placeholder="Image Title" />

  <label> Image Description: </label>
  <input type="text" name="description" class="form-control" placeholder="Image Description" />

  <button type='submit' class="btn btn-dark">Add Photo </button>
</form>
