<form action="/users/login" method="POST" id="login">
  <h1> Login </h1>
  <input type="text" class="form-control" name="username" placeholder="Username"/>
  <input type="password" class="form-control" name="password" placeholder="Password" />
  <button type="submit" class="btn">Login </button>
</form>
<p> Don't have an account? Click <a href="/users/register">here</a></p>
