<div class="home-container">
	<%- include ./partials/spotify %>

	<div class="content">
		<% if (userShow) { %>
			<%- include ./partials/userShow %>
		<% } else if (photoShow) { %>
			<%- include ./photos/show %>
		<% } else if (editPhoto) { %>
			<%- include ./photos/edit %>
		<% } %>

	</div>

</div>
