<h1> You have successfully logged in using Spotify </h1>

<div class="spotify">
	
	
</div>


<button class="test">Click Me</button>

<script type="text/javascript" src='/js/index.js'></script>
<script type="text/javascript">
	const access_token = '<%=access_token%>';
	const refresh_token = '<%=refresh_token%>';
	testFunction(access_token);
	getPlaylistData(access_token, refresh_token)

</script>