<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<title></title>
</head>
<body>

	<h1>Hey look I built this app using Spotify and OAuth</h1>

	<%- body %>

	<script type="text/javascript" src="/js/app.js"></script>



</body>
</html>