<!DOCTYPE html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body>

	<nav>
		<a href="/home">Home</a>
		<a href="/users/new">Login</a>
		<a href="#">Community Canvas</a>
		<a href="/photos/new"> Add Photo</a>
		<a href="/logout"> Logout </a>
	</nav>

	<%- body %>

	<footer>Hey look I built this app using Spotify and OAuth</footer>

</body>
</html>
