<div class="container">
      <div id="login">
        <h2>Click here to log in using your spotify account.</h2>
        <a href="/login" class="btn btn-primary">Log in with Spotify</a>
      </div>
</div>
