.testing {
  width: 71.42857143%;
  height: 68.75%;
}
/*-------------- global styles ---------------------*/
body {
  background-color: lightyellow;
  height: 100vh;
  min-width: 1048px;
  max-height: 826px;
}
footer {
  bottom: 0;
  height: 5%;
  position: absolute;
  text-align: center;
  width: 100%;
}
nav {
  background-color: darkgray;
  height: 5%;
}
nav > a {
  color: white;
}
.card-holder {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.card {
  text-align: center;
  width: 20%;
}
/*------------- login page -----------------------*/
#login {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  background-color: white;
}
#login > a {
  margin-left: auto;
  margin-right: auto;
}
/*----------------- home page ---------------------*/
.home-container {
  display: flex;
  height: 90%;
}
.spotify {
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.playlist-list {
  height: 300px;
}
.content {
  border: 2px solid black;
}
img {
  height: 200px;
  width: auto;
}
/* ------------ image show page ------------------ */
.img-show {
  width: 90%;
  height: auto;
  max-height: 70vh;
  margin-left: 5%;
  margin-right: 5%;
}
.img-link {
  margin-bottom: 1%;
}
.content {
  width: 75vw;
  margin-right: 2vw;
  margin-left: auto;
}
.content > h1,
.content > p {
  text-align: center;
}
.button-holder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2vh;
}
.photo-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* -------------- image edit page ---------------- */
.img-edit {
  width: 60%;
  height: auto;
  max-height: 30vh;
  margin-left: 20%;
  margin-right: 20%;
}
