@gray: #1F2421;
@black: #000000;
@lightGray: #AFB1B0;
@green: #007C29;


/*-------------- global styles ---------------------*/

body {
	background-color: @gray;
	height: 100vh;
	min-width: 1048px;
	max-height: 826px;
	font-family: 'Heebo', sans-serif;
}

footer {
	bottom: 0;
	height: 5%;
	position: absolute;
	text-align: center;
	width: 100vw;
	color: @lightGray;
	background-color: @black;
	p {
		margin-top: 1vh;
	}
}

nav {
	background-color: @black;
	height: 5%;
	width: 100vw;
  a {
		font-size: 1.2em;
    color: @lightGray;
		text-decoration: none;
		padding: 1vh 1vw;
  }
	a:hover {
		color: @green;
		text-decoration: none;
	}
}

.card-holder {
	width: 95%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.card {
	text-align: center;
	width: 20%;
}

/*------------- login page -----------------------*/

#login {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background-color: @lightGray;
  text-align: center;
  h1 {
    padding-top: 1vh;
    padding-bottom: 1vh;
		font-family: 'Open Sans', sans-serif;
  }
  button {
    margin-top: 1vh;
    margin-bottom: 2vh;
    background-color: @green;
		padding: 1vh;
  }
  input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    margin-left: auto;
  	margin-right: auto;
		color: @green;
  }
	button {
		width: 35%;
	}
}

// ---------------- spotify bar --------------------
.playlist{
	color: @lightGray;
	display: flex;
	justify-content: space-between;
	width: 100%;
	.playlist-button {
		background-color: @green;
		margin-left: 1vw;
		margin-top: 1vh;
		border: none;
		box-sizing: border-box;
		height: 3vh;
	}
	.playlist-button:hover {
		border: 1px solid @lightGray;
		box-sizing: border-box;
	}
}



	ul {
		list-style: none;
		padding-left: 0vw;
	}



.greeting {
	color: @lightGray;
	text-align: left;
	color: @green;
	h3 {

	}
}

.instructions {
	color: @lightGray;
}

/*----------------- home page ---------------------*/
.home-container {
	display: flex;
	height: 90%;
}

.spotify {
	height: 100%;
	width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 1vw;
	margin-right: 1vw;
}

.playlist-list {
	height: 300px;
}

.content {
	border: 2px solid black;
	width: 75vw;
	height: 87vh;
	margin-right: 2vw;
	margin-left: auto;
	margin-top: 2vh;
	overflow: scroll;
	max-width: 75vw;
	h1, p {
		text-align: center;
	}
}

img {
	height: 200px;
	width: auto;
}

h3 {
	color: @lightGray;
	text-align: center;
	padding-top: 1vh;
}

/* ------------ image show page ------------------ */
.img-show {
	width: 90%;
	height: auto;
	max-height: 70vh;
	margin-left: 5%;
	margin-right: 5%;
}

.img-link{
	margin-bottom: 1%;
}

.button-holder {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 2vh;
}

.photo-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 6vh;
}

.content-header {
	background-color: @black;
	position: fixed;
	width: 72%;
	height: 5vh;
	h3 {
		color: @green;
	}
}
/* -------------- image edit page ---------------- */
.img-edit {
	width: 60%;
	height: auto;
	max-height: 30vh;
	margin-left: 20%;
	margin-right: 20%;
}
